<h1>{{ company.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>{{ company.category }}</li>
    <li>{{ company.location }}</li>
    <li>{{ company.employee }}</li>
    <li>{{ company.raised }}</li>
    <li>{{ company.website }}</li>
    <li>{{ company.description }}</li>
</ul>

<button type="submit" class="save btn btn-default" href="{% url 'editCompany' company_id=company.id %}">Edit</button>
