{% if company_list %}
    <ul>
    {% for company in company_list %}
		<li><a href="{% url 'detail' company.id %}">{{ company.name }}</a></li>    
	{% endfor %}
    </ul>
{% else %}
    <p>No Companies are available.</p>
{% endif %}